@{
    ViewBag.Title = "Contact";
    int[,] ArrayPositions = ViewBag.ArrayPositions;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
    @{
        String str = "";
        for (int i = 0; i < ArrayPositions.GetLength(0); i++)
        {   for(int j = 0; j< ArrayPositions.GetLength(1); j++)
            {
                <span style="width: 30px; float: left;">@ArrayPositions[i,j]</span>
               str+="|"+ArrayPositions[i,j];
            }
            <br/>
        }
        
        @str;
        str = "";
        Random ran = new Random();
            for (int i = 0; i < ArrayPositions.GetLength(0); i++)
            {
                for (int j = 0; j < ArrayPositions.GetLength(1); j++)
                {
                    if (ran.Next(1) == 1 || ArrayPositions[i, j] < 0)
                    {
                    <span style="width: 30px; float: left;">@ArrayPositions[i, j]</span>
                    str += "|" + ArrayPositions[i, j];
                    }
                   else{
                        <span style="width: 30px; float: left;">0</span>
                    str += "|" + 0;
                    }
                }
                <br />
            }

            @str;
}
</hgroup>