<div class="categories">
    <div class="categ">
        <div class="cat">
            <h3>Categories</h3>
            <ul>
                <li><a href="single.html">Lorem ipsum dolor sit amet</a></li>
                <li><a href="single.html">Consectetur adipiscing elit</a></li>
                <li><a href="single.html">Etiam aliquet convallis enim ut</a></li>
                <li><a href="single.html">Donec at pretium dui</a></li>
                <li><a href="single.html">Nulla sed massa sagittis venenatis</a></li>
                <li><a href="single.html">Praesent nec tortor nec massa</a></li>
            </ul>
        </div>
        <div class="recent-com">
            <h3>Recent Comments</h3>
            <ul>
                <li><a href="single.html">Donec consequat</a> suscipit leo at accumsan. In hac habitasse platea dictumst.</li>
                <li>
                    <a href="single.html">Aliquam erat ipsum,</a> consequat id venenatis suscipit, venenatis sed leo.
                    Ut nec lacus in sem eleifend semper id ac dolor.
                </li>
                <li>
                    <a href="single.html">
                        Etiam aliquet convallis enim ut
                        <span>Donec at pretium dui</span>
                    </a>
                </li>
                <li><a href="single.html">Nulla sed massa sagittis</a> venenatis Praesent nec tortor nec massa </li>
                <li>
                    <a href="single.html">
                        Donec faucibus mollis dolor
                        <span>in ullamcorper.</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="view">
            <a href="single.html">View More</a>
        </div>
    </div>
</div>