/* Empty. Add your own CSS if you like */
.row{  
	margin: 0;
	min-height: 35px;
	}
.content .row:nth-child(2n+0){ 
    background: #f4f4f4;
}
.content .row:nth-child(2n+1){
    background: #e7e7e7;
}
.content .time-tv {
    border-right: 1px solid #ffffff;
    float: left;
    font-weight: bold;
    padding: 3px 3px 5px;
    text-align: center;
    width: 70px;
}
.row .t-detail {
    width: 100%;
    padding: 3px 3px 0 10px;
}

.row .t-duration {
    border-left: 1px solid #ffffff;
    float: right;
    padding: 3px 3px 0 10px;
    text-align: center;
    width: 70px;
}

.text-center{ text-align:center; }

.row-head{ 
    background: #244d6f none repeat scroll 0 0;
    color: #ffffff;
    font-weight: bold;
    line-height: 30px;
}