<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">
<title>Game và ứng dụng hay</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1,  minimum-scale=1, maximum-scale=1">

<script src="js/libs/angular.min.js"></script>
<style>
.itembox {
	float: left;
	margin: 10px;
	padding: 10px;
	width: 100px;
	height: 100px;
	align-items: center;
    text-align: center;
}   

.lastmodified{
	font-size: 10px;
	color: gray;
}
.size{
	font-size: 10px;
	color: gray;
}
.name{
	font-size: 16px;
    color: #000017;
    line-height: 1.3em;
	word-break: break-word;
}
.contentbox{
}
</style>
</head>

<body ng-app="myApp" ng-controller="listObjectControl">

<div class="app-wrapper">

<header>
<h1>Game và Ứng dụng hay</h1>
</header>

<div class="app-content" style="padding-bottom:50px">

<div style="line-height: 1.3em; height:auto;">
<i><b> <span ng-repeat="path in parentPaths">{{path.Name}} > </span></b></i>
<div>
	<input type="file" name="fileToUpload" id="fileToUpload" file-model="myFile">
	<input type="button" value="Upload" name="uploadfile" ng-click="uploadFile()">
</div>
</div>
<div class="contentbox">
	<div class="itembox" ng-if="parentPaths.length>1" ng-click="getDirectories(parentPaths[parentPaths.length-2], true)">
		<a href="" style="text-decoration: none;">
			<img class="thumb thumb-3" src="images/3dots.png" height="50px" width="50px">
			<div class="name">. . .</div>
		</a>
	</div>
    <div ng-repeat="item in dataInfo.directories" class="itembox">
		<a href="#" ng-click="getDirectories(item, false)" style="text-decoration: none;">
			<img class="thumb thumb-3" src="{{item.IsFile?'images/file.png':'images/folder.png'}}" height="50px" width="50px">
			<div class="size" ng-if="item.IsFile">{{item.DisplaySize}}</div>
			<div class="lastmodified">{{item.DisplayLastModified}}</div>
			<div class="name">{{item.Name}}</div>
		</a>
    </div>
</div>

</div><!--#app-content-->
</div><!--#app-wrapper-->
</body>
<script src="js/dataservice.js"></script>
<script src="js/app.js"></script>
</html>
