.scol-center {
     margin:auto;
     float:none;
}

.loading{
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    background-color: rgba(179, 175, 179, 0.46);
    z-index: 9999;
}

.text-loading {
    top: 50%;
    left: 45%;
    position: absolute;
    font-weight: bold;
    padding: 5px;
    background-color: grey;
}

.condition{
    background: beige;
    padding: 5px;
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 10px;
}