@{
    ViewBag.Title = "Liên Hệ";
}

<div class="content">
    <div class="container">
        <div class="content-text">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </div>
</div>
