<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="hthServiceApp">
<head>
    <title></title>
    <script src="/admin/bower_components/jQuery-3.1.0/jquery-3.1.0.js"></script>
    <script src="/admin/bower_components/bootstrap-3.3.7/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/admin/bower_components/bootstrap-3.3.7/css/bootstrap.css" />
    <script src="/admin/bower_components/angular-1.5.8/angular.js"></script>
    <script src="/admin/bower_components/angular-1.5.8/angular-route.js"></script>
    <script src="/admin/bower_components/angular-1.5.8/angular-animate.min.js"></script>
    <script src="/admin/bower_components/angular-1.5.8/angular-aria.min.js"></script>
    <script src="/admin/bower_components/angular-1.5.8/angular-messages.min.js"></script>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
    <script src="/admin/app.module.js"></script>
    <script src="/admin/app.config.js"></script>

    <script src="/admin/directives/directives.js"></script>
    <script src="/admin/modules/login/login.js"></script>
    <script src="/admin/modules/home/home.js"></script>
    <script src="/admin/modules/grid-report/grid-report.js"></script>
    <script src="/admin/modules/dashboard/dashboard.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script src="http://morrisjs.github.io/morris.js/js/libs/raphael-2.0.2.min.js"></script>
    <script src="http://cdn.oesmith.co.uk/morris-0.4.1.min.js"></script>
    <link rel="stylesheet" href="http://morrisjs.github.io/morris.js/css/morris.css" />

</head>
<body>
    <!--<div ngIf="AuthInfo.Message!=''">{{AuthInfo.Message}}</div>
    <input type="text" ng-model="Username" placeholder="Username" required="required" />
    <input type="password" ng-model="Password" placeholder="Password" required="required" />
    <button type="submit" ng-click="Login(Username, Password)" class="btn btn-primary btn-block btn-large">Let me in.</button>-->
    <div class="container-fluid">
        <div ng-view></div>
    </div>
</body>
</>
